{% extends 'layouts/page.twig' %}

{% block content %}
  <div class="columns"><div class="column is-half">
        <div class="box"><div class="control has-background-white">
              <h6 class="title is-6">Wallet:</h6>
              <h6 class="subtitle is-6 has-text-grey">{{Wallet}}</h6>
        </div>
        <div class="control has-background-white">
              <h6 class="title is-6">Balance:</h6>
              <h6 class="subtitle is-6 has-text-warning-dark">{{Ballance}} NOSO</h6>
        </div></div>















        </div><div class="column">
        <div class="message-header has-background-black-ter">
               <p>Stats</p></div>
        <div class="box">
        <div class="control has-background-white">
              <h6 class="title is-6">Earned all time:</h6>
              <h6 class="subtitle is-6 has-text-warning-dark">{{NosoAllTime}} NOSO</h6>
              </div>
        <div class="control has-background-white">
              <h6 class="title is-6">Referrals:</h6>
              <h6 class="subtitle is-6 ">{{Referrals}}</h6>
              </div>
        <div class="control has-background-white">
              <h6 class="title is-6">From referrals:</h6>
              <h6 class="subtitle is-6 has-text-warning-dark">{{FromReferals}} NOSO</h6>
              </div>
        <div class="control has-background-white">
              <h6 class="title is-6">Total paid out:</h6>
              <h6 class="subtitle is-6"><strong class=" has-text-danger-dark">{{TotalPaidOut}} NOSO</strong></h6>
              </div></div>

        <div class="message-header has-background-black-ter">
              <p>Referrals Link</p>
              </div>
        <div class="box">
              <h6 class="subtitle is-6">
              <div class="notification is-white is-light">You can invite friends and get 50% of every claim made by a friend</div></h6>
        <div class="field has-addons">
              <p class="control is-expanded has-background-white">
              <input class="input" id="refLinks" type="text" value="{{RefLink}}"></p>
              <p class="control has-background-white">
              <button class="button is-black" onclick="copy()">Copy</button></p>
        </div></div></div></div>

 
{% endblock %}