{% extends 'layouts/page.twig' %}

{% block content %}
<div class="columns"><div class="column is-half">


        <div class="box"><div class="control has-background-white">
               <div class="heading">Wallet:</div>
        <div class="title is-5">{{Wallet}} NOSO</div>
        </div>
        <div class="field is-grouped is-grouped-multiline">
        <div class="control_new has-background-white">
       <div class="tags has-addons">
              <span class="tag is-dark is-medium">Balance:</span>
              <span class="tag is-warning is-medium">{{Ballance}} NOSO</span>
        </div></div>
        
         <div class="control_new has-background-white">
        <div class="tags has-addons"> 
              <span class="tag is-dark is-medium">From referrals:</span>
              <span class="tag is-danger is-medium">{{FromReferals}} NOSO</span>
        </div></div>
        
        </div></div>

      {% if ViewClaim %}
        <div class="box"><div class="control has-background-white">
              <strong><h6 class="title is-5">1. Claim</h6></string>
              <h6 class="subtitle is-6 has-text-grey">By filing a claim you can get <strong class="has-text-warning-dark"> {{NosoPayConfig}} NOSO.</strong></br>
                                                    You can file a claim every <strong>{{ClaimTime}}</strong></h6>
            <form action="/claim" method="post">
              <input type="hidden" name="TOKEN_HIDEEN" value="">
              <button class="button is-danger"><strong>NEXT</strong></button>
            </form>
        </div></div>
      {% else %}

        <div class="notification is-warning is-light">You have already claimed in the last '.$this->coreFunctional->setTime($_ENV['CLAIM_TIME']).'</br>
              You can claim again in '.$this->coreFunctional->setTime(($this->userInfo->userLastclaim + $_ENV['CLAIM_TIME']) - time()).'</div>
      {% endif %}

</div>


<div class="column">
    
        <div class="box">
        <div class="columns is-mobile is-vcentered">
        <div class="column is-8">
        <div class="heading">Earned all time:</div>
        <div class="title">{{NosoAllTime}} NOSO</div></div>
        </div></div>

       <div class="box">
        <div class="columns is-mobile is-vcentered">
        <div class="column is-8">
        <div class="heading">Referrals:</div>
        <div class="title">{{Referrals}} </div></div>
      </div></div>

       <div class="box">
        <div class="columns is-mobile is-vcentered">
        <div class="column is-8">
        <div class="heading">Total paid out:</div>
        <div class="title">{{TotalPaidOut}} NOSO</div></div>
      </div></div>


      
       <div class="box">
        <div class="columns is-mobile is-vcentered">
        <div class="column is-8">
        <div class="heading">Referrals Link:</div>
        <div class="title is-6 has-text-grey" id="refLinks">{{RefLink}}</div></div>
        <div class="column"> <button class="button is-black is-pulled-right" onclick="copy()">Copy</button></p></div>
      </div></div>
</div>








</div>

 
{% endblock %}