{% extends 'layouts/page.twig' %}
{% block content %}
	<div class="columns">
		<div class="column is-two-thirds">
			<div class="notification is-warning is-light">
				Minimum payout threshold
				<strong> {{ MinimymPayNoso }}
					NOSO
				</strong>
			</div>
			<div class="message-header">
				<p>
					Pay
				</p>
			</div>
			<div class="box">
				<div class="control has-background-white">
					<h6 class="subtitle is-6 has-text-grey">
						On your balance of
						<strong> {{ MinimymPayNoso }}
							NOSO
						</strong>
						you can request a payout
					</br>
					Payment will be supported only by an authorized wallet!
					<strong>
						( {{ WalletUser }}
						)
					</strong>
				</h6>
				<form action="/claim" method="post">
					<button class="button is-danger">
						<strong>
							Request a payout
						</strong>
					</button>
				</form>
			</div>
		</div>
	</div>


	<div class="column">
		<div class="message-header">
			<p>
				Latest Claims
			</p>
		</div>
		<div class="box">
			<div class="table-container">
				<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
					<thead>
						<tr>
							<th>
								Claim time
							</th>
							<th>
								Number of coins
							</th>
						</tr>
					</thead>
					<tbody>

						{% for claims in ArrayClaims %}
							<tr>
								<td> {{ claims.date|date("m/d/Y  H:i") }}
								</td>
								<td>
									<strong> {{ claims.noso }}
									</strong>
									NOSO
								</td>
							</tr>
						{% endfor %}


					</tbody>
				</table>
			</div>
		</div>
		<div class="message-header">
			<p>
				Latest payments
			</p>
		</div>
		<div class="box">
			<div class="table-container">
				<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
					<thead>
						<tr>
							<th>
								Status
							</th>
							<th>
								Number of coins
							</th>
							<th>
								Time
							</th>
						</tr>
					</thead>
					<tbody>

						{% for pay in ArrayPayments %}

							<tr>
								<td> {{ pay.status }}
								</td>
								<td>
									<strong>{{ pay.balance }}</strong>
									NOSO
								</td>
								<td> {{ pay.date|date("m/d/Y  H:i") }}
								</td>
							</tr>


						{% endfor %}


					</tbody>
				</table>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
